= form_for @match do |f|
  - if @match.errors.any?
    #error_explanation
      %h2= "#{pluralize(@match.errors.count, "error")} prohibited this match from being saved:"
      %ul
        - @match.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label t('match.time')
    = f.datetime_select :time, class: 'form-control'

  .form-group
    = f.label t('match.name')
    = f.text_field :name, class: 'form-control', placeholder: t('match.name')

  .form-group
    -#= f.label t("match.event")
    -#=f.collection_select :event_id, [@event], :id, :name, {}, {class: "form-control"}
    =f.collection_select :event_id, [@event], :id, :name, {}, {style: "visibility:hidden"}

  -#.form-group
    -#= f.label t("match.player1")
    -#=f.collection_select :player1_id, @event.players, :id, :name, {}, {class: "form-control"}

  -#.form-group
    -#= f.label t("match.player2")
    -#=f.collection_select :player2_id, @event.players, :id, :name, {}, {class: "form-control"}

  .form-group
    = f.label t('match.liverooms')
    = f.select :live_room_ids, LiveRoom.all.collect{|x| [x.name, x.id]}, {}, {class: "form-control" , :multiple => true}

  .actions
    = f.submit t('user.save'), class: "btn btn-primary"
