- provide :title, t("match.index")

%table.table.table-hover
  %thead
    %tr
      %th= t('match.name')
      %th= t('match.event')
      %th= t('match.players')
      %th= t('match.time')
      %th= t('match.result')
      -if can? :manage, Match
        %th= t("user.operations")

  %tbody
    - @matches.each do |match|
      %tr
        %td
          =link_to match_path(match) do
            =match.name
        %td
          =link_to event_path(match.event) do
            =match.event.name
        %td
          =link_to user_path(match.player1) do
            =match.player1.name
          VS 
          =link_to user_path(match.player2) do
            =match.player2.name
        %td= l match.time
        -if match.result
          %td
            -#=link_to match_result_path(match) do
            =match.result.player1_score
            \:
            =match.result.player2_score
        -else
          %td= t('match.tobedone')
        -if can? :manage, Match
          %td
            %ul.list-inline
              %li= link_to t("user.edit"), edit_match_path(match)
              %li= link_to t("user.destroy"), match, method: :delete, data: {confirm: "Are you sure?"}
%br

-#-if can? :manage, Match
  -#=link_to t("user.new"), new_match_path, class: "btn btn-lg btn-primary", role: "button"
